In [42]:
import pandas as pd

In [3]:
pd.__version__

'2.2.2'

In [4]:
data = pd.read_csv('dataset.csv')

In [5]:
data

    fname     lname   age   gender
0  davood    rajaee    23     male
1    sara   hashemi    18   female

In [36]:
animals = ['Tiger', 'Bear', 'Lion']
pdAnimals = pd.Series(animals)
pdAnimals

0    Tiger
1     Bear
2     Lion
dtype: object

In [11]:
type(pdAnimals)

pandas.core.series.Series

In [15]:
pdAnimals[1]

'Bear'

In [40]:
 animals = {
     'n1' : 'Tiger',
     'n2' : 'Bear',
     'n3' : 'Lion'
 }
pAnimals = pd.Series(animals)
pAnimals

n1    Tiger
n2     Bear
n3     Lion
dtype: object

In [23]:
pAnimals.index

Index(['n1', 'n2', 'n3'], dtype='object')

In [24]:
pAnimals.values

array(['Tiger', 'Bear', None], dtype=object)

In [25]:
pAnimals['n1']

'Tiger'

In [26]:
pAnimals.loc['n1']

'Tiger'

In [27]:
pAnimals.iloc[0]

'Tiger'

In [32]:
for item in pAnimals:
    print('salam ' + str(item))

salam Tiger
salam Bear
salam None

In [33]:
import numpy as np

In [34]:
num = [2 , 20, 5]
pNum = pd.Series(num)
np.sum(pNum)

27

In [44]:
for index, item in pdAnimals.items():
    print('Salam ' + str(item) + '... index is ' + str(index))

Salam Tiger... index is 0
Salam Bear... index is 1
Salam Lion... index is 2